.logo-img{
    height:35px;
}
.btn-1{
    line-height: 1.5 !important;
  
    padding: 2px;
     color:white;
      height:18px;
}
.drop-down{
    position: relative;
    top: -7px;
}
.card-img1{
    height: 100px;
    border-radius: 58px;
}